.Estilo1 {font-size: 36px}
.Estilo2 {color: #990000}
.Estilo3 {
	color: #000033;
	font-size: 24px;
}
.Estilo4 {
	font-size: 24px;
	color: #CC0000;
}
.Estilo5 {
	font-size: 24px;
	color: #996600;
}
.Estilo6 {
	font-size: 24px;
	color: #990000;
}
.Estilo7 {
	font-size: 24px;
	color: #3333CC;
}
